page-home {
    .currentIssue {
        float: right;
        color: burlywood;
    }
    
    .custom {
        float: right;
    }

    .gdsf {
        background-image: url('https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1512413441391&di=36465fa227ad73f66445a4d1c2c12df3&imgtype=0&src=http%3A%2F%2Fc.hiphotos.baidu.com%2Fimage%2Fpic%2Fitem%2F0824ab18972bd4079fcccb1671899e510eb309d5.jpg');
    }
}
